{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'list.css'%}">
    <style>


</style>
</head>
<body >

<div  style=" height:600px;  background-image: url('{% static 'pictures/all2.jpg' %}');background-repeat: no-repeat;background-size: cover;">

<h1>Donor list</h1>
<table class="center">

    <tr>
             <td style="width:15%; height:50px;">id</td>
        <td style="width:15%; height:50px;">Name</td>
        <td style="width:15%; height:50px;">Age</td>
        <td style="width:15%; height:50px;">Gender</td>
         <td style="width:15%; height:50px;">Blood Group</td>
         <td style="width:15%; height:50px;">Organ</td>
        <td style="width:15%; height:50px;">Phone Number</td>
        <td style="width:15%; height:50px;">Place</td>
          <td style="width:15%; height:50px;">Organ Availability</td>
    </tr>

                {% for donor in donors %}
    <tr>
         <td style="width:15%; height:50px;">{{donor.id}}</td>
        <td style="width:15%; height:50px;">{{donor.name}}</td>
        <td style="width:15%; height:50px;">{{donor.age}}</td>

        <td style="width:15%; height:50px;">{{donor.gender}}</td>
          <td style="width:15%; height:50px;">{{donor.blood_group}}</td>
        <td style="width:15%; height:50px;">{{donor.organ}}</td>
        <td style="width:15%; height:50px;">{{donor.phone_no}}</td>
<td style="width:15%; height:50px;">{{donor.place}}</td>
        <td style="width:15%; height:50px;">{{donor.status}}</td>
    </tr>
            {% endfor %}
</table>
</div>
</body>
</html>
