      #top a {

           font-size: 100%;
           font-weight: 700;
           text-decoration: none;
           padding-left: 1%;
           padding-right: 2%;
        }
        #top {

            margin-right: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
            text-align: right;

        }

        #top1 {

            margin-right: 5%;
            margin-top: 1%;
            margin-bottom: 1%;
            text-align:left;

        }



        .dropdown-item {
                  color: blue;
                   font-size: 40px;
        }

        #top #font {
             font-size: 40px;
             color: white;


        }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
<!--  background-color: black;-->
 font-size: 50px;
}

li {
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}

li a.active {
  color: white;
  background-color: white;
  border-radius:30px;
}

tr:hover {background-color: #D6EEEE;

}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
tr:first-child {
  background-color: #D6EEEE;
  font-size:25px;
}